/* Code By Webdevtrick ( https://webdevtrick.com ) */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --main-bg-color: #D8D8D8;
    --secondary-bg-color: #F5F5F5;
    --primary-color: #00112c;
    --secondary-color: #0abf53;
    --code-red : red;
    --font-size: 1rem;
    --font-bold: 600;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
	background-color: var(--main-bg-color) !important;
}

#brand img {
    width: 100%;
	height:90%;
    align-items: center;
}

.header, .footer {
    background-color: var(--primary-color);
	max-height: 80px;
}

.title {
    align-items: center;
    border-left: 3px solid var(--main-bg-color);
}

.header p {
    color: var(--secondary-bg-color);
    font-weight: var(--font-bold);
}

.card {
	background-color: var(--secondary-bg-color) !important;
}
.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.currency select {
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .2em top 50%, 0 0;
    background-size: .50em auto, 100%;
    border: 0;
    padding-right: 20px;
    font-size: var(--font-size);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: var(--font-size);
    text-align: right;
    border-bottom: 2px solid var(--primary-color);
    width: 80%;
}

.middle {
    align-items: center;
}

#exchange {
    font-size: var(--font-size);
    color:var(--secondary-color);
    border:2px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
	width: 2em;
    transform: rotate(90deg);
}

#exchange:hover{
	transition: 1s;
    transform: rotate(1turn);
}

#exchange:focus {
    outline: 0;
}

#exchange:active {
    transform: rotate(90deg) scale(0.9);
}

.rate {
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    font-size: var(--font-size);
    display: flex;
    border-bottom: 10px solid var(--primary-bg-color)
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

#errorMsg {
    color: var(--code-red);
    font-weight: var(--font-bold);
    position:absolute
}